<mat-list *ngIf="items?.length>0; else noEntities">
  <mat-list-item>
    <mat-checkbox
    [(ngModel)]="masterChecked"
    [(indeterminate)]="masterIndeterminate"
    (change)="masterChange()"
    ><b>{{'SelectEntities.CheckAll' | translate}}</b></mat-checkbox>
  </mat-list-item>
  <mat-list-item *ngFor="let item of items; index as i">
    <mat-checkbox [value]="item.value"
    [(ngModel)]="item.checked"
    (change)="listChange(item.value, $event.checked)"
    >
      <span *ngIf="lineNumbers">
      {{i+1}}. 
      </span>
      <span 
        [attr.title]="truncate ? item.value.description : null" 
        [ngClass]="{'truncate': truncate}"
      >
      {{item.value.description}}
      </span>
    </mat-checkbox>
  </mat-list-item> 
</mat-list>
<ng-template #noEntities>
  <div id="emptyList">
    <span class="uxf-icon uxf-list" style="font-size: 3em;"></span>
  </div>
</ng-template>